[configuration]
entry_symbol = "gdext_rust_init"
compatibility_minimum = 4.4
reloadable = true

[libraries]
linux.debug.x86_64 =     "res://../godot-pack/target/debug/libgodot_pack.so"
linux.release.x86_64 =   "res://../godot-pack/target/release/libgodot_pack.so"
windows.debug.x86_64 =   "res://../godot-pack/target/debug/godot_pack.dll"
windows.release.x86_64 = "res://../godot-pack/target/release/godot_pack.dll"
macos.debug =            "res://../godot-pack/target/debug/libgodot_pack.dylib"
macos.release =          "res://../godot-pack/target/release/libgodot_pack.dylib"
macos.debug.arm64 =      "res://../godot-pack/target/debug/libgodot_pack.dylib"
macos.release.arm64 =    "res://../godot-pack/target/release/libgodot_pack.dylib"
